{% extends 'base.html' %}

{% block title %}
home
{% endblock title %}

{% block content %}
<form class="ui form" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" placeholder="username" required>
  </div>
  <div class="field">
    <label>Password</label>
    <input type="text" name="password" placeholder="password" required>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>
  <button type="submit" value="Login" class="ui button">Submit</button>
</form>
{% endblock content %}

{% block scripts %}
<script>

</script>
{% endblock scripts %}