body {
    background-color: #f8f8f8 !important;
}

.nav {
    border-radius: 0 !important;
    padding: 0 0 10px 0 !important;
    margin-top: 0 !important;
}
.nav .item.active {
    background: #e0e1e2 none;
    color: #000;
}

.nav-avatar {
    border-radius: 1000px !important;
    width: 35px;
    margin-left: 8px !important;
}

.notification-icon {
    color: #fff !important;
    font-size: 28px !important;
    line-height: 60px;
    margin-right: 15px;
}

.notification-menu {
    width: 400px !important;
    margin-left: -200px !important;
    display: block !important;
}

.avatar {
    width: 280px !important;
    margin-bottom: 20px;
}

.message-success {
    background-color: #DFF8EB;
}

.my-modal {
    height: 300px !important;
    top: 220px !important;
    font-size: 20px !important;
}

.profile-posts {

}

.submit-post {
    margin-top: 20px !important;
}

.post-avatar {
    width: 40px !important;
    border-radius: 100px;
    float: left;
    margin-right: 10px;
}

.post-author {
    color: #2284D0;
    margin: 0;
    text-align: left;
}

.post-time {
    color: #858585;
    margin: 0;
    text-align: left;
}

.post-text {
    margin: 5px 0 5px 0;
    text-align: left;
}

.post-img {
    width: 100%;
}

.post-actions {
    height: 40px;
}

.post-actions .button {
    float: right;
}

.post-add-comment {
    color: #858585;
    float: left;
    margin-top: 9px;
}

.like-button-counter {
    margin-right: -5px;
}

.create-post-form {

}

.comments {
    text-align: left;
}

.avatar-comments {
    width: 50px;
}

.avatar-comments img {
    width: 50px;
    margin-right: 20px;
    float: left;
}

.comment .content {
    margin-left: 70px;
}

.comment-submit-button {
    float: right;
    margin-top: 10px !important;
}

.comments-form {
    height: 100px;
}

.delete-post-button, .update-post-button,
.delete-comment-button, .update-comment-button, .delete-post-button {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.1;
}

.friend-card {
    background-color: #f0fffb !important;
}

.hr-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

img.friend-request {
    width: 115px !important;
}

.approve-decline-btn {
    border-radius: 5px !important;
    margin-right: 10px !important;
}

.friends-container {

}

.friends {
        padding: 1em 10px !important;
        margin: 1rem 0;
        -webkit-box-shadow: 0 2px 4px 0 rgb(34 36 38 / 12%), 0 2px 10px 0 rgb(34 36 38 / 15%);
        box-shadow: 0 2px 4px 0 rgb(34 36 38 / 12%), 0 2px 10px 0 rgb(34 36 38 / 15%);
        border-radius: 0.28571429rem;
        border: 1px solid rgba(34,36,38,.15);
}


.friends .friend {
    text-align: center !important;
    width: 70px !important;
    padding: 20px;
}
@media screen and (min-width: 900px) {
  article {
    padding: 1rem 3rem;
  }
}
.friend-avatar {
    width: 60px !important;
    min-width: 50px !important;
    display: block !important;
}

.profile-action-button {
    margin-bottom: 10px !important;
}

.close-profile-update {
    top: 0 !important;
    right: 0.5rem !important;
    color: #000 !important;

}
/* Chat styles */

.chat-message {
    text-align: left !important;
}

.chat-avatar img{
    width: 50px;
    float: left;
    border-radius: 1000px;
    margin-right: 20px;
}

.chat-container {
  position: relative;
  padding-bottom: 40px !important;
  padding-right:20px;
  min-height: 600px;
}

.chat-message {
    padding-bottom: 10px !important;
}

.chat-message .content {
    margin-left: 70px !important;
}

.chat-message .metadata {
    color: #858585;
}

.chat-message .author {
    font-weight: 700;
}

.chat-form {
  position: absolute !important;
  bottom: 10px;
  width: 96%;
}

.chat-form .text {

}

.chat-form button {
    width: 100% !important;
    margin-top: 15px !important;
}

.chat-form textarea {
    height: 70px !important;
    min-height: 70px !important;
}

#id_chat_message_submit {

}

.chat-info-icon-red {
    color: #c90000;
    font-size: 37px !important;
    float: left;
    line-height: 50px;
}

.chat-info-icon-black {
    color: #000;
    font-size: 37px !important;
    float: left;
    line-height: 50px;
}

.chat-info {
    opacity: 1;
    transition: opacity 1s;
}

.chat-info-fadeout {
  opacity: 0;
}

.chat-messages {
    overflow-x: auto !important;
    height: 400px !important;
}

.d-none {
    display: none !important;
}

.users-in-room {
    position: absolute;
    right: 45px;
    top: 25px;
    font-size: 20px;
    cursor: pointer;
}

.users-in-room-cards {
    padding: 30px;
}

.users-in-room-cards img{
    min-height: 130px;
}


/*private chats*/

.chat-dialogs {
        margin-top: 1rem !important;
        text-align: left !important;
}

.item.chat-with-user {
    padding-top: 10px !important;
}

.chat-with-user:hover {
    background-color: #efefef !important;
}

