{% extends 'base.html' %}

{% block title %}
Friends
{% endblock title %}

{% block content %}
<div class="ui container center aligned row grid">
  <div class="ui chat-container ten wide column segment aligned">
    <h3 class="ui dividing header">Comments</h3>
    <div class="chat-messages">
      <div class="chat-message">
        <a class="chat-avatar">
          <img src="/media/avatars/6066341416.jpg">
        </a>
        <div class="content">
          <a class="author">Matt Mattov</a>
          <div class="metadata">
            <span class="date">Today at 5:42PM</span>
          </div>
          <div class="text">
            How artistic! How artistic! How artistic! How artistic!
          </div>
        </div>
      </div>
      <div class="chat-message">
        <a class="chat-avatar">
          <img src="/media/avatars/6066341416.jpg">
        </a>
        <div class="content">
          <a class="author">Matt Mattov</a>
          <div class="metadata">
            <span class="date">Today at 5:42PM</span>
          </div>
          <div class="text">
            How artistic! How artistic! How artistic! How artistic!
          </div>
        </div>
      </div>
    </div>
    <div class="ui reply form chat-form">
      <div class="text">
        <textarea id="id_chat_message_input"></textarea>
      </div>
      <button type="button" class="ui blue labeled submit icon button" id="id_chat_message_submit">
        <i class="icon edit"></i> Send
      </button>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">

    setupPublicChatWebSocket()

    function setupPublicChatWebSocket(){
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        {% if debug_mode %}
            var ws_path = ws_scheme + "://" + window.location.host + "/public_chats/{{room_id}}/"

        {% else %}
            var ws_path = ws_scheme + "://" + window.location.host + "8001/public_chats/{{room_id}}/"
        {% endif %}

        var public_chat_socket = new WebSocket(ws_path)

        public_chat_socket.onmessage = function(message){
            console.log("Got chat websocket message: " + message.data)
            var data = JSON.parse(message.data)
            if(data.error){
              showClientErrorModal(data.message)
            }
            if(data.msg_type == 0){
              appendChatMessage(data)
            }

        }

        public_chat_socket.addEventListener("open", function(e){
            console.log("Public Chat Socket OPEN")
        })

        public_chat_socket.onclose = function(e){
            console.log("Public Chat Socket CLOSED" )
        }

        public_chat_socket.onopen = function(e){
            console.log("Public Chat Socket: onOpen")
        }

        public_chat_socket.onerror = function(e){
            console.log("Public Chat Socket: onError " + e)
        }

        if(public_chat_socket.readyState == WebSocket.OPEN){
            console.log("Public Chat Socket OPEN")
        }
        else if(public_chat_socket.readyState == WebSocket.CONNECTING){
             console.log("Public Chat Socket CONNECTING...")
        }
        document.getElementById("id_chat_message_input").focus()

        function sendMessageOnEnterToSocket(e) {
          if(e.keyCode == 13 && !e.shiftKey){
            document.getElementById("id_chat_message_submit").click()
          }
        }

        document.getElementById("id_chat_message_submit").addEventListener("click", sendMessageToSocket);
        document.getElementById("id_chat_message_input").addEventListener("keyup", sendMessageOnEnterToSocket);

        function sendMessageToSocket(e) {
          const messageInputDom = document.getElementById("id_chat_message_input")
          const message = messageInputDom.value
          public_chat_socket.send(JSON.stringify({
            "command": "send",
            "message": message
          }))
          messageInputDom.value = ""
        }

    function appendChatMessage(data){
      profile_image = data['profile_image']
      username = data['username']
      user_id = data['user_id']
      msg = data['message']
      profile_slug = data['profile_slug']
      createChatMessageElement(profile_image, username, user_id, msg, profile_slug)
    }

    function createChatMessageElement(profile_image, username, user_id, msg, profile_slug){
      chat_container = document.getElementsByClassName('chat-messages')[0]
      chat_container.innerHTML += `<div class="chat-message"> \
      <a class="chat-avatar">
        <img src="${profile_image}">
      </a>
      <div class="content">
        <a href='/profiles/${profile_slug}' class="author">${username}</a>
        <div class="metadata">
          <span class="date">Today at 5:42PM</span>
        </div>
        <div class="text">
          ${msg}
        </div>
      </div>
    </div>`;
    // после обновления HTML сбрасываются EventListener, каждый раз вешаем заново
    chat_container.scrollTop = chat_container.scrollHeight
    document.getElementById("id_chat_message_submit").addEventListener("click", sendMessageToSocket);
    document.getElementById("id_chat_message_input").addEventListener("keyup", sendMessageOnEnterToSocket);
    }
    function showClientErrorModal(msg){
      chat_container = document.getElementsByClassName('chat-messages')[0]
      chat_container.innerHTML += `<div class="chat-message chat-info"> \
      <a class="chat-avatar">
        <i class="info circle icon chat-info-icon"></i>
      </a>
      <div class="content">
        <a href='#' class="author">Error</a>
        <div class="metadata">
          <span class="date">Today at 5:42PM</span>
        </div>
        <div class="text">
          ${msg}
        </div>
      </div>
    </div>`;
    chat_container.scrollTop = chat_container.scrollHeight

    // после обновления HTML сбрасываются EventListener, каждый раз вешаем заново
    document.getElementById("id_chat_message_submit").addEventListener("click", sendMessageToSocket);
    document.getElementById("id_chat_message_input").addEventListener("keyup", sendMessageOnEnterToSocket);

    // скрытие ошибки через 2 секунды
    function fadeOut()
    {
        $(".chat-info").fadeToggle(500, "swing",function(){
            this.remove();
        });
    }
    var delay = 2000;
    setTimeout(fadeOut, delay);

}
}





</script>
{% endblock scripts %}